.navigation {
    background: #08aae7;
    position: fixed;
    width: 100%;
}

img {
    height: 50px;
    width: 60px;
    border-radius: 5px;
}

.navigation-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-content: center;
    justify-items: inherit;
    align-items: center;
    flex-direction: row;
    margin: 0;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
}

.navigation a {
    display: flex;
    padding: 10px 7.5px;
    text-decoration: none;
    color: #828282;
}
.navigation a.active {
    color: #172029;
    color: #61dafb;
}
@media screen and (min-width: 768px) {
    .navigation-nav {
        justify-content: flex-start;
    }
    .navigation a {
        padding: 10px 20px;
        text-decoration: none;
        color: #828282;
    }
}
